<!DOCTYPE html>

<html>

  <head>
     <title>Saguaro Surveys</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
     <link rel="stylesheet" type="text/css" href="darkred.css">

     <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems);
        });
      
        // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
        var collapsibleElem = document.querySelector('.collapsible');
        var collapsibleInstance = M.Collapsible.init(collapsibleElem);
      
        // Or with jQuery
      
        
      </script>
     

  </head>

  <body>

      <div class="navbar-fixed" >
          <nav>
            
              <div id="backgroundRed2" class="nav-wrapper">
    
                <a href="#" data-target="mobile-demo" class="button-collapse sidenav-trigger show-on-large right"><i class="material-icons">menu</i></a>
                <a class="white-text flow-text" href="/"> Saguaro Surveys</a>
                <ul class="right hide-on-med-and-down">
                  <% if(auth == "true") { %>

                    <li><a href="/makeTest">Make a Survey</a></li>
                    <li><a href="/mySurveys">My Surveys</a></li>
                    <li><a href="/finishedSurveys">Finished Surveys</a></li>
                    <li><a href="/logout">Log Out</a></li>

                  <% } else { %>
                    <li><a href="/registerUser">Register</a></li>
                    <li><a href="/login">Login</a></li>
                  <% } %>
                </ul>
              </div>
<!--

              <form>
                  <div id="backgroundRed" class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
            </nav>
          
              -->        
 
            
          </div>
          <ul class="sidenav" id="mobile-demo">
            <div class="background">
              <img src="cactus.jpg" class="responsive-img">
            </div>
              <li><a class="white-text name" href="/">Saguaro Surveys </a></li>
              <% if(auth == "true") { %>
                <li><a class="white-text name" href="/makeTest">Make a Survey</a></li>
                <li><a class="white-text name" href="/mySurveys">My Surveys</a></li>
                <li><a class="white-text name" href="/finishedSurveys">Finished Surveys</a></li>
                <li><a href="/logout">Log Out</a></li>

              <% } else { %>
                <li><a class="white-text name" href="/registerUser">Register</a></li>
                <li><a class="white-text name" href="/login">Login</a></li>
              <% } %>
          </ul>
  
   <br>
   
        <div class="row">
            
          <% for(let i=0; i<tests.length; i++) {%>
            
              
              <div class="container s12 col l6 offset-l3">
           
                  <div class="card grey darken-3 hoverable"> 
                      
                      <div class="card-content ">
                          <p class="truncate"><span class="card-title"><%=tests[i].name%></span></p>
                          <p class="truncate grey-text text-darken-4"><%=tests[i].description%></p>
                          <p class="truncate grey-text text-darken-4">Number of Questions: <%=tests[i].numOfQuestions%></p>              
                        
                        <br>
                          <div class="center-align card-action">
                            <a class="btn" href="/test/<%=tests[i]._id%>">Take Quiz</a>
                            <a class="btn" href="#">share</a>
                            <a class="btn" href="/results/<%=tests[i]._id%>">See Results</a>
                          </div>
                        </div>
                      
                  

                  </div>
         
              </div>
              
          <% } %>
        
      </div>
              
  <br>



  <!-- 
  <div class="container">
    <h1>Humans:</h1> 
    <div class="row flex">
    

        
      <% for(let i=0; i<tests.length; i++) {%>
        <% if(tests[i].categorie=="humans") {%>
            
      
        <div class="col s12 m4 l4">
          <div class="card grey darken-3">
                          

            <div class="card-content white-text">
                <span class="card-title"><%=tests[i].name%></span>
              <p><%=tests[i].description%></p>
              <p>Number of Questions: <%=tests[i].numOfQuestions%></p>              
                          
            </div>
            <div class="card-action">
              <a href="/test/<%=tests[i]._id%>">Take Quiz</a>
              <a href="#">share</a>
            </div>
          </div>
        </div>
        <% } %>

      <% } %>
    

  </div>
</div>

<div class="container">
    <h1>Robots:</h1> 
    <div class="row flex">
    

        
      <% for(let i=0; i<tests.length; i++) {%>
        <% if(tests[i].categorie=="robots") {%>
            
      
        <div class="col s12 m4 l4">
          <div class="card blue-grey darken-1">
                          

            <div class="card-content white-text">
                <span class="card-title"><%=tests[i].name%></span>
              <p><%=tests[i].description%></p>
              <p>Number of Questions: <%=tests[i].numOfQuestions%></p>              
                          
            </div>
            <div class="card-action">
              <a href="/test/<%=tests[i]._id%>">Take Quiz</a>
              <a href="#">share</a>
              <a href="/results/<%=tests[i]._id%>">See Results</a>
            </div>
          </div>
        </div>
        <% } %>

      <% } %>
    

  </div>

  
</div>
</div>
-->

  </body>
  
</html>