<!DOCTYPE html>

<html>

  <head>
     <title>Results</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="https://fonts.googleapis.com/css?family=Megrim&display=swap" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <link rel="stylesheet" type="text/css" href="/darkred.css">
     
     <script> 
       document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });
    </script>

  </head>

  <body>

      <div class="navbar-fixed" >
          <nav>
            
              <div id="backgroundRed2" class="nav-wrapper">
    
                <a href="#" data-target="mobile-demo" class="button-collapse sidenav-trigger show-on-large right"><i class="material-icons">menu</i></a>
                <a class="white-text flow-text left" href="/"> Saguaro Surveys</a>
                <ul class="right hide-on-med-and-down">
                  <% if(auth == "true") { %>

                    <li><a href="/makeTest">Make a Survey</a></li>
                    <li><a href="/mySurveys">My Surveys</a></li>
                    <li><a href="/finishedSurveys">Finished Surveys</a></li>
                    <li><a href="/logout">Log Out</a></li>

                  <% } else { %>
                    <li><a href="/registerUser">Register</a></li>
                    <li><a href="/login">Login</a></li>
                  <% } %>
                </ul>
              </div>

            
            </nav>
          
           
            
          </div>

          <ul class="sidenav" id="mobile-demo">
            <div class="background">
              <img src="/cactus.jpg" class="responsive-img">
            </div>
            
              <li><a class="white-text name flow-text" href="/">Saguaro Surveys </a></li>
              <% if(auth == "true") { %>
                <li><a class="white-text name" href="/makeTest">Make a Survey</a></li>
                <li><a class="white-text name" href="/mySurveys">My Surveys</a></li>
                <li><a class="white-text name" href="/finishedSurveys">Finished Surveys</a></li>
                <li><a href="/logout">Log Out</a></li>

              <% } else { %>
                <li><a class="white-text name" href="/registerUser">Register</a></li>
                <li><a class="white-text name" href="/login">Login</a></li>
              <% } %>
          </ul>

      <br>
      <h2 class="center-align white-text name"><%=test.name%></h2>

        <div class="row">

            <% for(let i=0; i<test.numOfQuestions; i++) {%>
          <div class="col s12 l8 offset-l3">
              <!-- displays data for each question-->
              <div class="container">

                <span class="white-text name" class="card-title"> <%=test.questions[i].question%>:</span>

                <div id="tester<%=i%>"></div>
                <script>
                  var data = [
                    {
                      x: ['Yes', 'Neutral', 'No'],
                      y: [<%=test.questions[i].yes%>, <%=test.questions[i].neutral%>, <%=test.questions[i].no%>],
                      type: 'bar',
                      textposition: 'auto',
                      hoverinfo: 'none',
                      
                     
                      marker: {
                        color: 'rgb(158,202,225)',
                        opacity: 0.6,
                        
                        line: {
                          color: 'rgb(8,48,107)',
                          width: .5
                        }
                      }
                    }
                  ];

                  Plotly.newPlot('tester<%=i%>', data);
                </script>
            </div>
          </div>

            
          <% } %>
    </div>
  </body>
</html>